{% extends 'roque_vago_app/base.html' %}
{% load static %}

{% block title %}Tienda Catálogo{% endblock %}

{% block content %}

<main role="main">

  <div class="row featurette">
    <div class="col-md-12">
      <h2 class="featurette-heading" style="text-align:center;">TIENDA</h2>
      <h3 class="featurette-heading" style="text-align:center;">Encontrá todo lo que necesita en nuestro Catálogo</h3>

    </div>
 </div>
<hr class="featurette-divider">



<!----------REPOSTERIA-------------->



  <div class="row featurette">
    <div class="col-md-12">
      <h2 class="featurette-heading" style="text-align:center;">REPOSTERÍA</h2>
      <h3 class="featurette-heading" style="text-align:center;">Todo para tus Tortas</h3>
    </div>
 </div>
{% for articulo in articulos %}
 {% if articulo.categoria.nombre == "Reposteria" %}
 <div class="container marketing">
   <div class="row">
     <div class="col-lg-4">
       <img src="{{ articulo.imagen.url }}" width="240" height="240" alt="">
       <!--svg class="bd-placeholder-img"  width="240" height="240"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg-->
       <h2>{{ articulo.nombre }}</h2>
       <p>{{ articulo.descripcion }}</p>
       <p>Precio $ <b>{{ articulo.precio }}</b></p>
       <p><a class="btn btn-secondary" href="#" role="button">Agregar al Carrito</a></p>
     </div><!-- /.col-lg-4 -->
   </div><!-- /.row -->
  </div>
  {% endif %}
{% endfor %}
<hr class="featurette-divider">



<!------------------DISFRACES Y ACCESORIOS------------->



  <div class="row featurette">
    <div class="col-md-12">
      <h2 class="featurette-heading" style="text-align:center;">DISFRACES Y ACCESORIOS</h2>
      <h3 class="featurette-heading" style="text-align:center;">Todos tus personajes favoritos</h3>
    </div>
  </div>
  {% for articulo in articulos %}
   {% if articulo.categoria.nombre == "Disfraces" %}
   <div class="container marketing">
     <div class="row">
       <div class="col-lg-4">
         <img src="{{ articulo.imagen.url }}" width="240" height="240" alt="">
         <!--svg class="bd-placeholder-img"  width="240" height="240"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg-->
         <h2>{{ articulo.nombre }}</h2>
         <p>{{ articulo.descripcion }}</p>
         <p>Precio $ <b>{{ articulo.precio }}</b></p>
         <p><a class="btn btn-secondary" href="#" role="button">Agregar al Carrito</a></p>
       </div><!-- /.col-lg-4 -->
     </div><!-- /.row -->
    </div>
    {% endif %}
  {% endfor %}
  <hr class="featurette-divider">

    <!--------------DESCARTABLES------------------>



    <div class="row featurette">
      <div class="col-md-12">
        <h2 class="featurette-heading" style="text-align:center;">DESCARTABLES</h2>
        <h3 class="featurette-heading" style="text-align:center;">Platos, vasos, blondas, etc..</h3>
      </div>
    </div>
    {% for articulo in articulos %}
     {% if articulo.categoria.nombre == "Descartables" %}
     <div class="container marketing">
       <div class="row">
         <div class="col-lg-4">
           <img src="{{ articulo.imagen.url }}" width="240" height="240" alt="">
           <!--svg class="bd-placeholder-img"  width="240" height="240"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg-->
           <h2>{{ articulo.nombre }}</h2>
           <p>{{ articulo.descripcion }}</p>
           <p>Precio $ <b>{{ articulo.precio }}</b></p>
           <p><a class="btn btn-secondary" href="#" role="button">Agregar al Carrito</a></p>
         </div><!-- /.col-lg-4 -->
       </div><!-- /.row -->
      </div>
      {% endif %}
    {% endfor %}
    <hr class="featurette-divider">

<!----------------DECORACION-------------->



<div class="row featurette">
  <div class="col-md-12">
    <h2 class="featurette-heading" style="text-align:center;">DECORACION</h2>
    <h3 class="featurette-heading" style="text-align:center;">Girnaldas, carteles, adornos, etc...</h3>
  </div>
</div>
{% for articulo in articulos %}
 {% if articulo.categoria.nombre == "Decoracion" %}
 <div class="container marketing">
   <div class="row">
     <div class="col-lg-4">
       <img src="{{ articulo.imagen.url }}" width="240" height="240" alt="">
       <!--svg class="bd-placeholder-img"  width="240" height="240"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg-->
       <h2>{{ articulo.nombre }}</h2>
       <p>{{ articulo.descripcion }}</p>
       <p>Precio $ <b>{{ articulo.precio }}</b></p>
       <p><a class="btn btn-secondary" href="#" role="button">Agregar al Carrito</a></p>
     </div><!-- /.col-lg-4 -->
   </div><!-- /.row -->
  </div>
  {% endif %}
{% endfor %}
<hr class="featurette-divider">


  <!--------------------CUMPLEAÑOS----------------->



  <div class="row featurette">
    <div class="col-md-12">
      <h2 class="featurette-heading" style="text-align:center;">CUMPLEAÑOS</h2>
      <h3 class="featurette-heading" style="text-align:center;">Velitas, bengalas, adornos para torta, etc...</h3>
    </div>
  </div>
  {% for articulo in articulos %}
   {% if articulo.categoria.nombre == "Cumpleanios" %}
   <div class="container marketing">
     <div class="row">
       <div class="col-lg-4">
         <img src="{{ articulo.imagen.url }}" width="240" height="240" alt="">
         <!--svg class="bd-placeholder-img"  width="240" height="240"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg-->
         <h2>{{ articulo.nombre }}</h2>
         <p>{{ articulo.descripcion }}</p>
         <p>Precio $ <b>{{ articulo.precio }}</b></p>
         <p><a class="btn btn-secondary" href="#" role="button">Agregar al Carrito</a></p>
       </div><!-- /.col-lg-4 -->
     </div><!-- /.row -->
    </div>
    {% endif %}
  {% endfor %}
  <hr class="featurette-divider">
<hr class="featurette-divider">





</main>
{% endblock %}
