{% extends 'roque_vago_app/base.html' %}
{% load static %}

{% block title %}Contacto{% endblock %}

{% block content %}

<div class="container"  >
  <div class="col-md-12">
    <h2 class="featurette-divider" style="text-align:center;">CONTACTO</h2>
     <hr class="featurette-divider">
      <div class="container">
        <form method="POST"  >
          {% csrf_token %}
         <table style="margin: auto">
         {{ formulario.as_table }}
         </table>
         <div class="col-md-12  style="margin: auto;">
         <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Enviar Consulta</button>
        </div>
        </form>
       </div>
     </div>
   </div>
<hr class="featurette-divider">

{% endblock %}
